.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag {
  width:500px;
  height:300px;
  margin:auto;
  border:1px solid black;
}

.square {
    width: 100%;
    height:112.5px;
}


.blue {
    background:#002D62;
}

.white {
    background:#FFFFFF;
    height:25%;
    width:100%;
}

.whitee {
    background:#FFFFFF;
    width:14%;
    height:300px;
    margin: 0px 0px 0px 220px;
    position:relative;
}

.red {
    background:#CE1126;
}
 img {
    width:75px;
    height:75px;
    margin:0px 0px 1px 0px
 }

 .redd {
    background:#CE1126;
    width:250px;
    height:114px;
    float:right;
 }

 .bluee {
    background:#002D62;
    width:230px;
    height:113px;
    float:right;
 }



