.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag {
  width:600px;
  height:400px;
  margin:auto;
  border:1px solid black;
}

.stripe {
    height:100%;
    width:33.33%;
    float:left;
}

.orange {
    background:#FF8200;
}

.white {
    background:#FFFFFF;
}
.green {
    background:#009A44;
}
